# Simpler CUDA setup using AlphaNet's torch-based ASE calculator.
--extra-index-url https://download.pytorch.org/whl/cu121
--find-links https://pytorch-geometric.com/whl/torch-2.1.2%2Bcu121.html
ase==3.26.0
lightning
numpy==1.26.4
tensorboard
torch==2.1.2
torch_geometric
torch_scatter
git+https://github.com/zmyybc/AlphaNet.git@jax_and_zbl
